<div class="container">
    <div class="login ">
        <div class="row d-flex align-item-center justify-content-center img-banner">
            <div class="col-12 col-sm-10 col-md-8  col-lg-6 ">
                <img class="p-2 banner" src="/images/signin-image.jpg"  alt="">
            </div>
            {{!-- form Div --}}
            <div class="col-12 col-sm-10 col-lg-6 col-md-6 px-5">
                <h1 class="mt-2 font-weight-bold">Photos</h1>
                <h4>Sign in</h4>
                {{#if messages.error}}
                <div class="info-danger">{{messages.error}}</div>

                {{/if}}

                <form action="" method="post" class="pt-4">
                    <div class="form-row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Username" class="form-control my-3 p-3" name="name">
                        </div>
                    </div>
                     <div class="form-row">
                        <div class="col-lg-6">
                            <input type="password" placeholder="**********" class="form-control my-3 p-3" name="password">
                        </div>
                    </div>
                  <div class="form-row pb-4">
                        <div class="col-lg-6">
                          <button type="submit" class="btn-01"> Login </button>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <p>Don't have a account?  <a href="/signup"> Sign Up</a></p>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>